.AppTitle{
    margin: auto;
    padding-top: 105px;
    width: 186px;
    height: 53px;
    font-family: "Century Gothic";
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}